<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'Paymentmethod' |
            translate}}</span></ng-template>

    <form [formGroup]="frm">
        <input type="hidden" formControlName="id" value="0">
        <div class="formgrid grid">

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'Name'|translate}}</label><span class="text-danger"> *</span><br>
                <input type="text" class="p-2  w-full" placeholder="{{'Name'|translate}}"
                    formControlName="name" pInputText /><br>
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'ServiceProvider'|translate}}</label><br>
                <p-dropdown [options]="serviceProvider" [style]="{'width':'100%'}" formControlName="anFFinancialServiceProviderId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'PaymentChannel'|translate}}</label><br>
                <p-dropdown [options]="paymentChannel" [style]="{'width':'100%'}" formControlName="anFPaymentChannelId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
            </div>

            <div class="form-check col-12 sm:col-6 md:col-2 lg:col-2 xl:col-2 xl:mt-5 lg:mt-5 md:mt-5 sm:mt-5 m-5">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                    [defaultChecked]="true" formControlName="isActive">
                <label class="form-check-label" for="flexCheckDefault"> {{'ISACTIVE' | translate}} </label>
            </div>

            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <div class="">
                    <div class="">
                        <p-button (click)="save()" [disabled]="frm.invalid" *ngIf="formId==0"
                            styleClass="p-button-success p-button-sm" type="submit" icon="pi pi-check"
                            label="{{'SAVE'|translate}}"></p-button>&nbsp;
                        <p-button type="reset" *ngIf="formId==0||formId==1" styleClass="p-button-warning p-button-sm"
                            icon="pi pi-refresh" (click)="reset()" label="{{'RESET'|translate}}"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-panel>



<p-table #dt [value]="list" dataKey="id" [rowHover]="true" [rows]="20" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[20,25,50,100]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-gridlines pt-3"
    [tableStyle]="{'min-width': '50rem'}">

    <ng-template pTemplate="caption">
        <div class="flex">
            <span class="p-input-icon-left ml-auto float-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th class="vcenter text-center">{{'Name'|translate}}</th>
            <th class="vcenter text-center">{{'ServiceProvider'|translate}}</th>
            <th class="vcenter text-center">{{'PaymentChannel'|translate}}</th>
            <th class="vcenter text-center">{{'ACTIVE'|translate}}</th>
            <th class="vcenter text-center">{{'ACTION'|translate}}</th>
        </tr>
        <tr>
            <div [hidden]="progressStatus" style="position: absolute; z-index: 10; ">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </tr>
    </ng-template>


    <ng-template pTemplate="body" let-r>
        <tr class="p-selectable-row">
            <td class="vcenter text-center">{{r.name}}</td>
            <td class="vcenter text-center">{{r.financialServiceProvider}}</td>
            <td class="vcenter text-center">{{r.paymentChannel}}</td>
            <td class="vcenter text-center">{{r.isActive}}</td>
            <td class="vcenter text-center">
        <p-button type="button" styleClass="p-button-success p-button-sm mr-2 px-2 py-1" icon="pi pi-pencil"
          (click)="edit(r)" data-toggle="tooltip" title="{{'EDIT' | translate}}"></p-button>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="9">No data found.</td>
        </tr>
    </ng-template>
</p-table>