<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
<p-panel>
  <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'UserRoleMapping' |
      translate}}</span></ng-template>
  <form [formGroup]="frm" >
    <input type="hidden" formControlName="id" value="0">
    <div class="formgrid grid">


      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <label>{{'TYPE'|translate}}</label><span class="text-danger"> *</span>
        <p-dropdown [options]="companyTypeList" [style]="{'width':'100%'}" formControlName="cmnCompanyTypeId"
            [filter]="true" filterBy="shortName" [showClear]="true" placeholder="{{'SELECT'|translate}}"
           (onChange)="getData()" optionLabel="shortName" optionValue="id"></p-dropdown><br>
        <span *ngIf="frm.controls['cmnCompanyTypeId'].invalid && frm.controls['cmnCompanyTypeId'].touched " class="text-danger">
            {{'Type' | translate}} {{'REQUIRED' | translate}} 
          </span>
    </div>

    <div class="field col-12 sm:col-12 md:col-3 lg:col-3 xl:col-3">
      <div [hidden]="rolesPgStatus" style="position: absolute; z-index: 10; ">
        <p-progressSpinner></p-progressSpinner>
       </div>
      <label>{{'Role' | translate}}</label><span class="text-danger"> *</span>
      <p-dropdown [options]="roles" [style]="{'width':'100%'}" formControlName="role" 
        [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}" optionLabel="name"
        optionValue="id">
      </p-dropdown>
        
      <span *ngIf="frm.controls['role'].invalid && frm.controls['role'].touched " class="text-danger">
        {{'ROLE' | translate}} {{'REQUIRED' | translate}} 
      </span>
    </div>

    <div class="field col-12 sm:col-12 md:col-3 lg:col-3 xl:col-3">
      <div [hidden]="companyListPgStatus" style="position: absolute; z-index: 10; ">
        <p-progressSpinner></p-progressSpinner>
       </div>
      <label>{{'Company' | translate}}</label><span class="text-danger"> *</span>
      <p-dropdown [options]="companyList" [style]="{'width':'100%'}" formControlName="companyId" 
        [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}" optionLabel="name"
        optionValue="id"></p-dropdown>
      <span *ngIf="frm.controls['companyId'].invalid && frm.controls['companyId'].touched " class="text-danger">
        {{'SUBSCRIBER' | translate}} {{'REQUIRED' | translate}}
      </span>
    </div>
            
      <div class="field  col-12 sm:col-12 md:col-3 lg:col-3 xl:col-3">
        <div class="card-footer">
          <div class=" mt-5">
            <p-button (click)="getUserList()" [disabled]="frm.invalid" styleClass="p-button-success p-button-sm"
              icon="pi pi-check" label="{{'Search' | translate}}"></p-button>&nbsp;
          </div>
        </div>
      </div>

    </div>
      <div class="formgrid grid">
      <div class="field  col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
        <p-table #dt [value]="roleLessUsers" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50,100]" [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
          [globalFilterFields]="['loginID','employeeName','companyName']" styleClass="p-datatable-sm p-datatable-gridlines pt-3"
          [tableStyle]="{'min-width': '50rem'}">

          <ng-template pTemplate="caption">
            <div class="flex">
              <span class="p-input-icon-left ml-auto float-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Search keyword" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th (click)="selectAll()"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
              <th pSortableColumn="employeeName" style="text-align: center">
                <div class="vcenter text-center">
                  {{'Name'|translate}}
                  <p-sortIcon field="employeeName"></p-sortIcon>
                  <p-columnFilter type="text" field="employeeName" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>              
              <th>{{'UserType' | translate}}</th>
              <th>{{'LoginID'|translate}}</th>
              <th pSortableColumn="companyName" style="text-align: center">
                <div class="vcenter text-center">
                  {{'Company'|translate}}
                  <p-sortIcon field="companyName"></p-sortIcon>
                  <p-columnFilter type="text" field="companyName" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>              
            </tr>
            <tr>
              <div [hidden]="progressStatusroleLess" style="position: absolute; z-index: 10; ">
               <p-progressSpinner></p-progressSpinner>
              </div>
           </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
            <tr>
               <td>
                <input type="checkbox" [(ngModel)]="user.isActive" [ngModelOptions]="{standalone: true}" name="isChecked"
                  id="isChecked">
              </td> 
             <!-- <td>
                <p-tableCheckbox [value]="user.isActive"></p-tableCheckbox>
              </td>-->
              <td>{{ user.employeeName}}</td>
              <td>{{user.secUserTypeName +'('+ user.userLevel + ')'}}</td>
              <td>{{ user.loginID }}</td>
             
              <td>{{ user.companyName}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="field  col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
        <div class="frm progressbar" [hidden]="progressStatusSave" style="position: absolute; z-index: 10; ">
          <p-progressSpinner></p-progressSpinner>
         </div>
        <div class="card-footer">
          <div class="">

            <p-button (click)="save()" [disabled]="frm.invalid" styleClass="p-button-success p-button-sm"
              icon="pi pi-check" label="{{'SAVE' | translate}}"></p-button>&nbsp;
            
              <p-button (click)="reset()" styleClass="p-button-warning p-button-sm" icon="pi pi-refresh" (click)="reset()"
              label="{{'RESET'|translate}}"> </p-button>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </form>
</p-panel>



<p-table #dt [value]="roleOrientedUsers" dataKey="id" [rowHover]="true" [rows]="15" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[15,25,50,100]" [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
  [globalFilterFields]="['loginID','employeeName','companyName']" styleClass="p-datatable-sm p-datatable-gridlines pt-3"
  [tableStyle]="{'min-width': '50rem'}">


  <ng-template pTemplate="header">
    <tr>
      <th class="vcenter text-danger" style="text-align: right !important;" [width]="10">{{'SlNo'|translate}}</th>
      <th pSortableColumn="employeeName" style="text-align: center">
        <div class="vcenter text-center">
          {{'UserName'|translate}}
          <p-sortIcon field="employeeName"></p-sortIcon>
          <p-columnFilter type="text" field="employeeName" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>      
      <th class="vcenter text-center">{{'UserType' | translate}}</th>
      <th class="vcenter text-center">{{'LginId' | translate}}</th>
      <th pSortableColumn="companyName" style="text-align: center">
        <div class="vcenter text-center">
          {{'Company'|translate}}
          <p-sortIcon field="companyName"></p-sortIcon>
          <p-columnFilter type="text" field="companyName" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th class="vcenter text-center">{{'ACTION' | translate}}</th>

    </tr>
    <tr>
      <div [hidden]="progressStatusroleOriented" style="position: absolute; z-index: 10; ">
       <p-progressSpinner></p-progressSpinner>
      </div>
   </tr>
  </ng-template>

  <ng-template pTemplate="body" let-r let-rowIndex="rowIndex">
    <tr class="p-selectable-row">
      <td>{{rowIndex+1}}</td>
      <td>{{r.employeeName}}</td>
      <td>{{r.secUserTypeName}}</td>
      <td>{{r.loginID}}</td>
      
      <td>{{r.companyName}}</td>
      <td class="vcenter text-center" *ngIf="r.secUserId != authUserId">
        <p-button type="button" styleClass="p-button-success p-button-sm mr-2 px-2 py-1" icon="pi pi-trash"
          (click)="remove(r)" data-toggle="tooltip" title="{{'Removed' | translate}}"></p-button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="9">No data found.</td>
    </tr>
  </ng-template>

</p-table>