<p-confirmDialog  [baseZIndex]="10000"></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'DESIGNATION' |
            translate}}</span></ng-template>

    <form [formGroup]="frm">
        <input type="hidden" formControlName="id" value=0>
        <div class="formgrid grid">

            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'NAME'|translate}}</label><span class="text-danger"> *</span>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="name" pInputText />
                <span *ngIf="frm.controls['name'].invalid && frm.controls['name'].touched " class="text-danger">
                    {{'NAME'|translate}} {{'REQUIRED'|translate}}
                </span>
            </div>

            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'SHORTNAME'|translate}}</label><br>

                <input type="text" class="p-2  w-full" placeholder="" formControlName="shortName" pInputText />
            </div>

            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'PRIORITY'|translate}}</label><span class="text-danger"> *</span><br>
                <input type="number" class="p-2  w-full" placeholder="" formControlName="priority" pInputText />
                <span *ngIf="frm.controls['priority'].invalid && frm.controls['priority'].touched " class="text-danger">
                    {{'PRIORITY'| translate }} {{'REQUIRED' | translate }}
                </span>
            </div>
        </div>

        <div class="formgrid grid">

            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <div class="form-check sm:mt-2 md:mt-5" >
                    <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                        [defaultChecked]="true" checked formControlName="isActive">
                    <label class="form-check-label" for="flexCheckDefault"> {{'ISACTIVE' | translate}} </label>
                </div>

            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col-12 md-col:12">
                <div class="frm progressbar" [hidden]="progressStatus" style="position: absolute; z-index: 10; ">
                    <p-progressSpinner></p-progressSpinner>
                   </div>
                <div class="card-footer">
                    <div class="">
                        <p-button (click)="save()" [disabled]="frm.invalid" styleClass="p-button-success p-button-sm"
                            type="submit" icon="pi pi-check" label="{{'SAVE'|translate}}"></p-button>&nbsp;
                        <p-button type="reset" styleClass="p-button-warning p-button-sm" icon="pi pi-refresh"
                            (click)="reset()" label="{{'RESET'|translate}}"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</p-panel>
<p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <ng-template pTemplate="header">
        <h5>{{'DESIGNATION' | translate}} {{'DETAILS' | translate}}</h5>
    </ng-template>
    <div class="modal-body">
        <div class="formgrid grid">
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'NAME'|translate}} : </label>
                <p>{{viewInfo.name}}</p>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'SHORTNAME'|translate}} : </label>
                <p>{{viewInfo.shortName}}</p>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'PRIORITY'|translate}} : </label>
                <p>{{viewInfo.priority}}</p>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayModal=false" label="{{'CLOSE' | translate}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-table #dt [value]="designationList" dataKey="id" [rowHover]="true" [rows]="15" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[15,50,100]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['Name','','']" styleClass="p-datatable-sm p-datatable-gridlines pt-3"
    [tableStyle]="{'min-width': '50rem'}">

    <ng-template pTemplate="header">
        <tr>
            <th class="vcenter text-center" style="width: 10%;">{{'SL#'|translate}}</th>
            <th pSortableColumn="name" style="text-align: center">
                <div class="vcenter text-center">
                    {{'NAME'|translate}}
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th class="vcenter text-center">{{'SHORTNAME'|translate}}</th>
            <th class="vcenter text-center">{{'PRIORITY'|translate}}</th>
            <th class="vcenter text-center">{{'ACTION'|translate}}</th>
        </tr>
        <tr>
            <div class="frm progressbar" [hidden]="progressStatusGrid" style="position: absolute; z-index: 10; ">
                <p-progressSpinner></p-progressSpinner>
               </div>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-r | let-i="rowIndex">
        <tr class="p-selectable-row">
            <td>{{i+1}}</td>
            <td>{{r.name}}</td>
            <td>{{r.shortName}}</td>
            <td>{{r.priority}}</td>
            <td class="vcenter text-center">
                <p-button type="button" styleClass="p-button-success p-button-sm mr-2 px-2 py-1" icon="pi pi-pencil"
                    (click)="edit(r)" data-toggle="tooltip" title="{{'EDIT' | translate}}"></p-button>
                <p-button type="button" styleClass="p-button-primary p-button-sm px-2 py-1" icon="pi pi-eye"
                    (click)="showModalDialog(r)" data-toggle="tooltip" title="{{'VIEW' | translate}}"></p-button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No data found.</td>
        </tr>
    </ng-template>
</p-table>