<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'EmployeCreate' |
            translate}}</span></ng-template>
    <form [formGroup]="frm" (ngSubmit)="save()">
        <input type="hidden" formControlName="id" value="0">
        <div class="formgrid grid">

            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'TYPE'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="companyTypeList" [style]="{'width':'100%'}" formControlName="cmnCompanyTypeId"
                    [filter]="true" filterBy="shortName" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                   (onChange)="getCompanyByCompanyTypeOne()" optionLabel="shortName" optionValue="id"></p-dropdown><br>
                
            </div>
            
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                   <div class="frm progressbar" [hidden]="companyListPgStatus" style="position: absolute; z-index: 10; ">
                    <p-progressSpinner></p-progressSpinner>
                   </div>
                <label>{{'COMPANY'|translate}}</label><span class="text-danger"> *</span><br>
                <p-dropdown [options]="companyList" formControlName="cmnCompanyId"
                    placeholder="{{'COMPANY' | translate}}" [showClear]="true" [filter]="true" filterBy="name"
                    [showClear]="true" [style]="{'width':'100%'}" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown>
            </div>

            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'EMPLOYEID'|translate}}</label><span class="text-danger"> *</span><br>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="employeeId" pInputText />
                <span *ngIf="frm.controls['employeeId'].invalid && frm.controls['employeeId'].touched "
                    class="text-danger">
                    {{'EMPLOYEID'|translate}} {{'REQUIRED'|translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'NAME'|translate}}</label><span class="text-danger"> *</span>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="name" pInputText />
                <span *ngIf="frm.controls['name'].invalid && frm.controls['name'].touched " class="text-danger">
                    {{'NAME'|translate}} {{'REQUIRED'|translate}}
                </span>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'MOBILE'|translate}}</label><span class="text-danger"> *</span>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="mobile" pInputText />
                
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'OFFICIALEMAIL'|translate}}</label><span class="text-danger"> *</span>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="officialEmail" pInputText />
                
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'GENDER'|translate}}</label>
                <p-dropdown [options]="genderList" [style]="{'width':'100%'}" formControlName="sex" [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="" optionLabel="name"
                    optionValue="id"></p-dropdown><br>
            </div>
            
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'JOININGDATE'|translate}}</label>
                <input type="date" class="p-2  w-full" placeholder="" formControlName="joiningDate" dateFormat="dd/mm/yy" pInputText />
            </div>

            
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'Photo' | translate}}</label>

                <input hidden id="attachedSingleFile" (change)="onFileChange()" #fileInput type="file">
                <div>
                    <img [src]="fileSrc || '../../../assets/img/default-user.jpg'" alt="Please click to upload file"
                        (click)="clickOnBtnFile()" alt="image" class="msr-3 h-25 w-25" width="50%">
                </div>
            </div>

            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'SIGNATUREURL'|translate}}</label>
                <input type="file" class="p-2  w-full" placeholder="" formControlName="signatureUrl" pInputText />
                
            </div>
           
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                    [defaultChecked]="true" checked formControlName="isActive">
                <label class="form-check-label" for="flexCheckDefault"> {{'ISACTIVE' | translate}} </label>
            </div>

        </div>
     
        <div class="formgrid grid">
            <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
                <div class="frm progressbar" [hidden]="progressStatus" style="position: absolute; z-index: 10; ">
                    <p-progressSpinner></p-progressSpinner>
                   </div>
                <div class="card-footer">
                    <p-button (click)="save()" [disabled]="frm.invalid"
                        styleClass="p-button-success p-button-sm" type="submit" icon="pi pi-check"
                        label="{{'SAVE'|translate}}">
                    </p-button>&nbsp;
                    
                    <p-button type="reset" styleClass="p-button-warning p-button-sm"
                        icon="pi pi-refresh" (click)="reset()" label="{{'RESET'|translate}}"></p-button>
                </div>
            </div>
        </div>
    </form>
</p-panel>

<p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <ng-template pTemplate="header">
        <h5>{{'ITEM' | translate}} {{'DETAILS' | translate}}</h5>
    </ng-template>
    <div class="modal-body">
        <div class="formgrid grid">
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'NAME'|translate}} : </label>
                <p>{{viewInfo.name}}</p>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'EMPLOYEID'|translate}} : </label>
                <p>{{viewInfo.employeeId}}</p>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'MOBILE'|translate}} : </label>
                <p>{{viewInfo.mobile}}</p>
            </div>
            <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
                <label>{{'OFFICIALEMAIL'|translate}} : </label>
                <p>{{viewInfo.officialEmail}}</p>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayModal=false" label="{{'CLOSE' | translate}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<div class="card py-2 mt-2">
<form [formGroup]="frmsrc">
    <div class="formgrid grid">
        <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
            <label>{{'TYPE'|translate}}</label><span class="text-danger"> *</span>
            <p-dropdown [options]="companyTypeList" [style]="{'width':'100%'}" formControlName="cmnCompanyTypeId"
                [filter]="true" filterBy="shortName" [showClear]="true" placeholder="{{'SELECT'|translate}}"
               (onChange)="getCompanyByCompanyTypeTwo()" optionLabel="shortName" optionValue="id"></p-dropdown><br>
            
        </div>
        
        <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
            <div class="frm progressbar" [hidden]="companyListPgStatus" style="position: absolute; z-index: 10; ">
                <p-progressSpinner></p-progressSpinner>
            </div>
            <label>{{'COMPANY'|translate}}</label><span class="text-danger"> *</span><br>
            <p-dropdown [options]="companyList" formControlName="cmnCompanyId"
                placeholder="{{'COMPANY' | translate}}" [showClear]="true" [filter]="true" filterBy="name"
                [showClear]="true" [style]="{'width':'100%'}" placeholder="{{'SELECT'|translate}}"
                optionLabel="name" optionValue="id"></p-dropdown>
        </div>
      
      <div class="field col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
        <div class="mt-4">
          <div class="" style="padding-top: 10px;">
            <p-button (click)="search()" [disabled]="frm.invalid" styleClass="p-button-primary p-button-sm"
              type="submit" icon="pi pi-search" label="{{'Search' | translate}}"></p-button>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<p-table #dt [value]="employeeList" dataKey="id" [rowHover]="true" [rows]="20" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[20,20,50,100]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name','employeeId','mobile','officialEmail']"
    styleClass="p-datatable-sm p-datatable-gridlines pt-3" [tableStyle]="{'min-width': '50rem'}">

    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined p-button-sm" icon="pi pi-filter-slash"
                (click)="clear(dt)"></button>
            <div class="ml-3">
                <p-button type="button" label="{{'ExportToExcel'|translate}}" (click)="exportToExcel()"
                    class="export-button"></p-button>
            </div>
            <span class="p-input-icon-left ml-auto float-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th class="vcenter text-center">{{'SLNo'|translate}}</th>
            <th pSortableColumn="name" style="text-align: center">
                <div class="vcenter text-center">
                    {{'NAME'|translate}}
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th class="vcenter text-center">{{'EMPOLYEID'|translate}}</th>
            <th class="vcenter text-center">{{'MOBILE'|translate}}</th>
            <th class="vcenter text-center">{{'OFFICIALEMAIL'|translate}}</th>
            <th class="vcenter text-center">{{'ROLE'|translate}}</th>
            <th class="vcenter text-center">{{'ACTION'|translate}}</th>
        </tr>
        <tr>
            <div class="frm progressbar" [hidden]="employeeListPgStatus" style="position: absolute; z-index: 10; ">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-r let-rowIndex="rowIndex">
        <tr class="p-selectable-row">
            <td>{{rowIndex+1}}</td>
            <td>{{r.name}}</td>
            <td>{{r.employeeId}}</td>
            <td>{{r.mobile}}</td>
            <td>{{r.officialEmail}}</td>
            <td>{{r.roleName}}</td>
            <td class="vcenter text-center">
                <p-button type="button" styleClass="p-button-success p-button-sm mr-2 px-2 py-1" icon="pi pi-pencil"
                    (click)="edit(r)" data-toggle="tooltip" title="{{'EDIT' | translate}}"></p-button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No data found.</td>
        </tr>
    </ng-template>
</p-table>