
<p>membership working!</p>

<p-confirmDialog [baseZIndex]="10000"></p-confirmDialog>

<p-panel>
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'SubscriberProfile' |
            translate}}</span>
        <div class="col-6 sm:col-6 md:col-10 lg:col-10 xl:col-10 float_right">
            <button class="btn btn-primary" (click)="refresh()">{{'Refresh'|translate}}</button>
        </div>
    </ng-template>

    <div>
        <form [formGroup]="frmSearch">
            <div>
                <div class="" style=" cursor: pointer; position: absolute; " class="mt-3" (click)="deviceRegistration()">
                    <i class="pi pi-box" style="font-weight: bold; font-size: 2rem"></i>
                </div>
                <div style=" display: flex;  justify-content: flex-end;">
                    <div class=" col-5 sm:col-5 md:col-3 lg:col-3 xl:col-3">
                        <input type="text" class="p-2  w-full" placeholder="{{'Membership Number' | translate}}"
                            formControlName="membershipNumberSrch" pInputText />
                    </div>
                    <div class=" mt-3" style="width: 50px;">
                        <div class="" style=" cursor: pointer;" (click)="search()">
                            <i class="pi pi-search" style="font-weight: bold; font-size: 2rem"></i>
                        </div>
                    </div>                  
                </div>
            </div>
        </form>
    </div>

<p-accordion [(activeIndex)]="activeTabs" [multiple]="true">

  <p-accordionTab header="Personal Information">
        <div>
        
        <form [formGroup]="frm">
            <div class="formgrid grid">

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'MembershipNumber'|translate}}</label><span class="text-danger"> *</span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="membershipNumber" pInputText />
            </div>
                    
             
            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'Name'|translate}}</label><span class="text-danger"> *</span><br>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="name" pInputText />
                <span *ngIf="frm.controls['name'].invalid && frm.controls['name'].touched "
                    class="text-danger">
                    {{'Name'|translate}} {{'REQUIRED'|translate}}
                </span>
            </div>
           
            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'FatherName'|translate}}</label><span class="text-danger"> </span><br>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="fatherName" pInputText />
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'MotherName'|translate}}</label><span class="text-danger"> </span><br>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="motherName" pInputText />
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'SpouseName'|translate}}</label><span class="text-danger"> </span><br>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="spouseName" pInputText />
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'DateOfBirth'|translate}}</label><span class="text-danger"> </span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="dateOfBirth" pInputText />
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'GenderId'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="genderList" [style]="{'width':'100%'}" formControlName="genderId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'MaritalStatusId'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="maritalStatusList" [style]="{'width':'100%'}" formControlName="maritalStatusId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'ReligionId'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="religionList" [style]="{'width':'100%'}" formControlName="religionId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'NID'|translate}}</label><span class="text-danger"> </span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="nID" pInputText />
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'Photo'|translate}}</label><span class="text-danger"> </span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="photo" pInputText />
            </div>
            
            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'CountryId'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="countryList" [style]="{'width':'100%'}" formControlName="countryId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'DivisionId'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="divisionList" [style]="{'width':'100%'}" formControlName="divisionId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'DistrictId'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="districtList" [style]="{'width':'100%'}" formControlName="districtId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'UpazilaId'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="upazilaList" [style]="{'width':'100%'}" formControlName="upazilaId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'UnionId'|translate}}</label><span class="text-danger"> </span>
                <p-dropdown [options]="unionList" [style]="{'width':'100%'}" formControlName="unionId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'VillageName'|translate}}</label><span class="text-danger"> </span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="villageName" pInputText />
            </div>
                 
                    <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
                        <div class="card-footer">
                            <p-button styleClass="p-button-success p-button-sm mr-2" type="submit" icon="pi pi-check"
                                label="{{'SaveMembership' | translate}}">
                            </p-button>
                        </div>
                    </div>
                </div>
        </form>

        </div>
  </p-accordionTab>


  <p-accordionTab header="Contact Information">
    <form [formGroup]="frm">
        <div class="formgrid grid">
     <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'PhoneNumber'|translate}}</label><span class="text-danger"> *</span><br>
                <input type="text" class="p-2  w-full" placeholder="" formControlName="phoneNumber" pInputText />
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'AlternatePhoneNumber'|translate}}</label><span class="text-danger"> </span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="alternatePhoneNumber" pInputText />
            </div>

            
            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'EmailAddress'|translate}}</label><span class="text-danger"> </span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="emailAddress" pInputText />
            </div>
            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'Address'|translate}}</label><span class="text-danger"> </span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="address" pInputText />
            </div>
      </div>
</form>
        
  </p-accordionTab>


  <p-accordionTab header="Membership Details">
        <form [formGroup]="frm">
        <div class="formgrid grid">
            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'MembershipTypeId'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="membershipTypeList" [style]="{'width':'100%'}" formControlName="membershipTypeId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'MembershipDate'|translate}}</label><span class="text-danger"> *</span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="membershipDate" pInputText />
            </div>

             <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'ShareCapital'|translate}}</label><span class="text-danger"> *</span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="shareCapital" pInputText />
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'MembershipStatus'|translate}}</label><span class="text-danger"> *</span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="membershipStatus" pInputText />
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'IntroducedByMemberId'|translate}}</label><span class="text-danger"> </span>
                <p-dropdown [options]="membershipList" [style]="{'width':'100%'}" formControlName="introducedByMemberId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>
    </div>
    </form>
  </p-accordionTab>


   <p-accordionTab header=" Education & Job Info">
        <form [formGroup]="frm">
            <div class="formgrid grid">
            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'EducationLevelId'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="educationLevelList" [style]="{'width':'100%'}" formControlName="educationLevelId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'DesignationId'|translate}}</label><span class="text-danger"> </span>
                <p-dropdown [options]="designationList" [style]="{'width':'100%'}" formControlName="designationId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'ServiceDepartmentId'|translate}}</label><span class="text-danger"> </span>
                <p-dropdown [options]="serviceDepartmentList" [style]="{'width':'100%'}" formControlName="serviceDepartmentId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'ServiceDivisionId'|translate}}</label><span class="text-danger"> </span>
                <p-dropdown [options]="serviceDivisionList" [style]="{'width':'100%'}" formControlName="serviceDivisionId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

      </div>
</form>       
  </p-accordionTab>


  <p-accordionTab header=" Service Location">
    <form [formGroup]="frm">
        <div class="formgrid grid">
             <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'ServiceLocationCountryId'|translate}}</label><span class="text-danger"> </span>
                <p-dropdown [options]="countryList" [style]="{'width':'100%'}" formControlName="serviceLocationCountryId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'ServiceLocationDivisionId'|translate}}</label><span class="text-danger"> </span>
                <p-dropdown [options]="divisionList" [style]="{'width':'100%'}" formControlName="serviceLocationDivisionId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'ServiceLocationDistrictId'|translate}}</label><span class="text-danger"> </span>
                <p-dropdown [options]="districtList" [style]="{'width':'100%'}" formControlName="serviceLocationDistrictId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'ServiceLocationUpazilaId'|translate}}</label><span class="text-danger"> </span>
                <p-dropdown [options]="upazilaList" [style]="{'width':'100%'}" formControlName="serviceLocationUpazilaId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
            </div>

         </div>
</form>                           
  </p-accordionTab>

  
   <p-accordionTab header="Nominee Information">
    <form [formGroup]="frm">
        <div class="formgrid grid">
        <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'NomineeName'|translate}}</label><span class="text-danger"> </span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="nomineeName" pInputText />
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'NomineeAddress'|translate}}</label><span class="text-danger"> </span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="nomineeAddress" pInputText />
            </div>

            <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'NomineePhoneNumber'|translate}}</label><span class="text-danger"> </span><br>
            <input type="text" class="p-2  w-full" placeholder="" formControlName="nomineePhoneNumber" pInputText />
            </div>       
    </div>
    </form>
  </p-accordionTab>

   <p-accordionTab header="Banking Info">
    <form [formGroup]="frm">
        <div class="formgrid grid">
        <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                <label>{{'MobileBankingId'|translate}}</label><span class="text-danger"> *</span>
                <p-dropdown [options]="mobileBankingList" [style]="{'width':'100%'}" formControlName="mobileBankingId"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                    optionLabel="name" optionValue="id"></p-dropdown><br>
                
        </div>   
    </div>
    </form>
  </p-accordionTab>
 
</p-accordion>

</p-panel>

