<p-accordion [multiple]="true" [activeIndex]="[0]">
    <p-accordionTab header="Subscriber">
      <div class="grid  mt-2">
        <div class="col-12 lg:col-4 xl:col-4">     
            <div  class="card dashboardcard" [ngStyle]="{'background-color': 'Violet'}">
              <h4>{{'Subscriber'|translate}}</h4>
                <p class="m-0">
                  <i class="pi pi-users" style="font-size: 1rem; margin-right:5px;"></i>
                  <span style="font-weight: bold;">Total: </span><span> 700</span>
                </p>
                <div>
                 <i class="pi pi-check" style="font-size: 1rem; margin-right:5px;"></i>
                <span style="color: green; font-weight: bold;">Active: </span><span> 300</span>
                </div>
                <div>
                 <i class="pi pi-times" style="font-size: 1rem; margin-right:5px;"></i>
                 <span style="color: rgb(255, 0, 0); font-weight: bold;">InActive: </span><span> 400</span> 
                </div>
                <div class="flex-row-reverse">
                  <button class="btn btn-success" (onclick)="cloupsOn()" >Details</button>
                </div>
            </div>     
        </div>
        <div class="col-12 lg:col-4 xl:col-4 ">
          <div  class="card dashboardcard" [ngStyle]="{'background-color': 'SandyBrown'}">
            <h4>{{'ExpiredSubscriber'|translate}}</h4>
              <p class="m-0">
                <i class="pi pi-users" style="font-size: 1rem; margin-right:5px;"></i>
                <span style="font-weight: bold;">Expired: </span><span> 700</span>
              </p>
              <div>
               <i class="pi pi-check" style="font-size: 1rem; margin-right:5px;"></i>
              <span style="color: yellow; font-weight: bold;">ToDayExp: </span><span> 300</span>
              </div>
              <div>
               <i class="pi pi-times" style="font-size: 1rem; margin-right:5px;"></i>
               <span style="color: rgb(255, 0, 0); font-weight: bold;">InActive: </span><span> 400</span> 
              </div>
              <div class="flex-row-reverse">
                <button class="btn btn-success" (onclick)="cloupsOn()" >Details</button>
              </div>
          </div>
      </div>
    </div>
        <p-table #dt [value]="subscriberList" dataKey="id" [rowHover]="true" [rows]="15" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[15,25,50,100]" [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
  [globalFilterFields]="['firstName','lastName','customerNumber','contactNumber','email','deviceNumber']" styleClass="p-datatable-sm p-datatable-gridlines"
  [tableStyle]="{'min-width': '70rem'}">
  <ng-template pTemplate="caption">
    <div class="flexBox">
      <span class="p-input-icon-left ml-auto float-right">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Enter Mobile,Email,SubscriberID"/>
      </span>
    </div>
  </ng-template>


  <!-- <ng-template pTemplate="header">
    <tr>
      <th class="vcenter text-center" >{{'SL#' | translate}}</th>
      <th  style="text-align: center">
        <div class="vcenter text-center">
          {{'CompanyName' | translate}}
        </div>
      </th>
      <th  style="text-align: center">
        <div class="vcenter text-center">
          {{'TotalSubscriber' | translate}} 
        </div>
      </th>
      <th  style="text-align: center">
        <div class="vcenter text-center">
          {{'ActiveSubscriber' | translate}}
        </div>
      </th>
      <th class="vcenter text-center">{{'InactiveSubscriber' | translate}}</th>
      <th class="vcenter text-center">{{'SLSO' | translate}}</th>
    </tr>
    
  </ng-template> -->

  <ng-template pTemplate="body" let-r let-i="rowIndex">
    <tr  class="p-selectable-row">
      <td>{{i+1}}</td>
      <td>{{r.companyName}}</td>
      <td>{{r.totalSubscriber}}</td>
      <td>{{r.activeSubscriber}}</td>
      <td>{{r.inactiveSubscriber}}</td>
      <td>{{r.slso}}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No data found.</td>
    </tr>
  </ng-template>

</p-table>
    </p-accordionTab>
    <p-accordionTab header="ExpSubscriber">
      <div class="grid  mt-2">
        <div class="col-12 lg:col-4 xl:col-4">     
            <div  class="card dashboardcard" [ngStyle]="{'background-color': 'Violet'}">
              <h4>{{'Subscriber'|translate}}</h4>
                <p class="m-0">
                  <i class="pi pi-users" style="font-size: 1rem; margin-right:5px;"></i>
                  <span style="font-weight: bold;">Total: </span><span> 700</span>
                </p>
                <div>
                 <i class="pi pi-check" style="font-size: 1rem; margin-right:5px;"></i>
                <span style="color: green; font-weight: bold;">Active: </span><span> 300</span>
                </div>
                <div>
                 <i class="pi pi-times" style="font-size: 1rem; margin-right:5px;"></i>
                 <span style="color: rgb(255, 0, 0); font-weight: bold;">InActive: </span><span> 400</span> 
                </div>
                <div class="flex-row-reverse">
                  <button class="btn btn-success" (onclick)="cloupsOn()" >Details</button>
                </div>
            </div>     
        </div>
        <div class="col-12 lg:col-4 xl:col-4 ">
          <div  class="card dashboardcard" [ngStyle]="{'background-color': 'SandyBrown'}">
            <h4>{{'ExpiredSubscriber'|translate}}</h4>
              <p class="m-0">
                <i class="pi pi-users" style="font-size: 1rem; margin-right:5px;"></i>
                <span style="font-weight: bold;">Expired: </span><span> 700</span>
              </p>
              <div>
               <i class="pi pi-check" style="font-size: 1rem; margin-right:5px;"></i>
              <span style="color: yellow; font-weight: bold;">ToDayExp: </span><span> 300</span>
              </div>
              <div>
               <i class="pi pi-times" style="font-size: 1rem; margin-right:5px;"></i>
               <span style="color: rgb(255, 0, 0); font-weight: bold;">InActive: </span><span> 400</span> 
              </div>
              <div class="flex-row-reverse">
                <button class="btn btn-success" (onclick)="cloupsOn()" >Details</button>
              </div>
          </div>
      </div>
      </div>
        <p-table #dt [value]="subscriberList" dataKey="id" [rowHover]="true" [rows]="20" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[20,25,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['firstName','lastName','customerNumber','contactNumber','email','deviceNumber']" styleClass="p-datatable-sm p-datatable-gridlines"
        [tableStyle]="{'min-width': '70rem'}">
        <ng-template pTemplate="caption">
          <div class="flexBox">
            <span class="p-input-icon-left ml-auto float-right">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Enter Mobile,Email,SubscriberID"/>
            </span>
          </div>
        </ng-template>
        
        <!-- <ng-template pTemplate="header">
          <tr>
            <th class="vcenter text-center" >{{'SL#' | translate}}</th>
            <th  style="text-align: center">
              <div class="vcenter text-center">
                {{'CompanyName' | translate}}
              </div>
            </th>
            <th  style="text-align: center">
              <div class="vcenter text-center">
                {{'TotalExpired' | translate}} 
              </div>
            </th>
            <th  style="text-align: center">
              <div class="vcenter text-center">
                {{'ToDayExp' | translate}}
              </div>
            </th>
            <th class="vcenter text-center">{{'ExpAfter3days' | translate}}</th>
            <th class="vcenter text-center">{{'SLSO' | translate}}</th>
          </tr>
          
        </ng-template> -->
      
        <ng-template pTemplate="body" let-r let-i="rowIndex">
          <tr  class="p-selectable-row">
            <td>{{i+1}}</td>
            <td>{{r.companyName}}</td>
            <td>{{r.totalSubscriber}}</td>
            <td>{{r.activeSubscriber}}</td>
            <td>{{r.inactiveSubscriber}}</td>
            <td>{{r.slso}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">No data found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
    <p-accordionTab header="Accounts">
      <div class="grid  mt-2">
        <div class="col-12 lg:col-4 xl:col-4">     
            <div  class="card dashboardcard" [ngStyle]="{'background-color': 'Violet'}">
              <h4>{{'Accounts'|translate}}</h4>
                <p class="m-0">
                  <i class="pi pi-users" style="font-size: 1rem; margin-right:5px;"></i>
                  <span style="font-weight: bold;">Total Balance LSO: </span><span> 700</span>
                </p>
                <div>
                 <i class="pi pi-check" style="font-size: 1rem; margin-right:5px;"></i>
                <span style="color: green; font-weight: bold;">Active: </span><span> 300</span>
                </div>
                <div>
                 <i class="pi pi-times" style="font-size: 1rem; margin-right:5px;"></i>
                 <span style="color: rgb(255, 0, 0); font-weight: bold;">InActive: </span><span> 400</span> 
                </div>
                <div class="flex-row-reverse">
                  <button class="btn btn-success" (onclick)="cloupsOn()" >Details</button>
                </div>
            </div>     
        </div>
        <div class="col-12 lg:col-4 xl:col-4 ">
          <div  class="card dashboardcard" [ngStyle]="{'background-color': 'SandyBrown'}">
            <h4>{{'ExpiredSubscriber'|translate}}</h4>
              <p class="m-0">
                <i class="pi pi-users" style="font-size: 1rem; margin-right:5px;"></i>
                <span style="font-weight: bold;">Expired: </span><span> 700</span>
              </p>
              <div>
               <i class="pi pi-check" style="font-size: 1rem; margin-right:5px;"></i>
              <span style="color: yellow; font-weight: bold;">ToDayExp: </span><span> 300</span>
              </div>
              <div>
               <i class="pi pi-times" style="font-size: 1rem; margin-right:5px;"></i>
               <span style="color: rgb(255, 0, 0); font-weight: bold;">InActive: </span><span> 400</span> 
              </div>
              <div class="flex-row-reverse">
                <button class="btn btn-success" (onclick)="cloupsOn()" >Details</button>
              </div>
          </div>
      </div>
      </div>
        <p-table #dt [value]="subscriberList" dataKey="id" [rowHover]="true" [rows]="20" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[20,25,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['firstName','lastName','customerNumber','contactNumber','email','deviceNumber']" styleClass="p-datatable-sm p-datatable-gridlines"
        [tableStyle]="{'min-width': '70rem'}">
        <ng-template pTemplate="caption">
          <div class="flexBox">
            <span class="p-input-icon-left ml-auto float-right">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Enter Mobile,Email,SubscriberID"/>
            </span>
          </div>
        </ng-template>
        
        <!-- <ng-template pTemplate="header">
          <tr>
            <th class="vcenter text-center" >{{'SL#' | translate}}</th>
            <th  style="text-align: center">
              <div class="vcenter text-center">
                {{'CompanyName' | translate}}
              </div>
            </th>
            <th  style="text-align: center">
              <div class="vcenter text-center">
                {{'TotalExpired' | translate}} 
              </div>
            </th>
            <th  style="text-align: center">
              <div class="vcenter text-center">
                {{'ToDayExp' | translate}}
              </div>
            </th>
            <th class="vcenter text-center">{{'ExpAfter3days' | translate}}</th>
            <th class="vcenter text-center">{{'SLSO' | translate}}</th>
          </tr>
          
        </ng-template> -->
      
        <ng-template pTemplate="body" let-r let-i="rowIndex">
          <tr  class="p-selectable-row">
            <td>{{i+1}}</td>
            <td>{{r.companyName}}</td>
            <td>{{r.totalSubscriber}}</td>
            <td>{{r.activeSubscriber}}</td>
            <td>{{r.inactiveSubscriber}}</td>
            <td>{{r.slso}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">No data found.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
</p-accordion>