.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    //height: calc(100vw - -1.6vw);
    justify-content: space-between;
    padding: 5.1rem 1rem 1rem 0.2rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
