<p-confirmDialog [style]="{width: '20vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-panel>
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'SelfRecharge' |
            translate}}</span>
            <div class="col-10 sm:col-10 md:col-10 lg:col-10 xl:col-10 float_right">
                <span class="text-primary font-semibold text-xl" >{{'CurrentBalance' |
                    translate}}: </span><pre>&nbsp;</pre>
                <span class="text-primary font-semibold text-xl"> {{clientCurrentBalance}}</span>
                <pre>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</pre>
                <span class="text-primary font-semibold text-xl" >{{'AvailableBalance' |
                translate}} :</span> <pre>&nbsp;</pre>
                <span class="text-primary font-semibold text-xl"> {{clientAvailableBalance}}</span>
            </div>
            </ng-template>

    <form [formGroup]="selfRechargeFrm">
        <input type="hidden" formControlName="id" value="0">
       
            <div class="formgrid grid">
                <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                    <label>{{'PayMode'|translate}}</label><span class="text-danger"> *</span><br>
                    <p-dropdown [options]="paymentMethods" [style]="{'width':'100%'}" formControlName="anFPaymentMethodId"
                        [filter]="true" filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}"
                        optionLabel="name" optionValue="id" (onChange)="paymentMethodChange()"></p-dropdown><br>
                </div>
                <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                    <label>{{'Amount' | translate}}</label><span class="text-danger"> *</span>
                    <input type="number" class="p-2  w-full" placeholder="{{'Amount' | translate}}"
                        formControlName="amount" pInputText />
                    <span *ngIf="frm.controls['amount'].invalid && frm.controls['amount'].touched " class="text-danger">
                        {{'Amount' | translate}} {{'REQUIRED' | translate}}
                    </span>
                </div>
                <div class="field col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4">
                    <label>{{'REMARKS' | translate}}</label>
                    <input type="text" class="p-2  w-full" placeholder="{{'REMARKS' | translate}}"
                        formControlName="remarks" pInputText />
                </div>

                <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12" style="border: 1px solid #eee; padding: 0;"
                *ngIf="isShowSslPay">
                <div class="card p-0">
                  <p-tabView id="tabView">
                    <p-tabPanel class="line-height-3 m-0" header="{{value.name}}" *ngFor="let value of getArray">
                      <div class="row featurette">
                        <div class="custom-box-shadow ml-1 mr-1 mt-2" *ngFor="let getWay of value.chield, let i=index">
                          <div style="display: flex;flex-direction: column;justify-content: center;">
                            <a href="{{getWay.redirectGatewayURL}}">
                              <img class="img-fluid mx-auto m-1" src="{{getWay.logo}}" alt="Card image cap">
                            </a>
                          </div>
                        </div>
                      </div>
                    </p-tabPanel>
                  </p-tabView>
                </div>
              </div>

                <div class="field col-12 md-col:12">
                    <div class="frm progressbar" [hidden]="progressStatusSave" style="position: absolute; z-index: 10; ">
                        <p-progressSpinner></p-progressSpinner>
                       </div>
                    <div class="card-footer" *ngIf="this.isShowSslPay == false">
                        <div class="flex justify-center">
                            <p-button (click)="rechargeMyWallet()" [disabled]="selfRechargeFrm.invalid" 
                                styleClass="p-button-success p-button-sm" type="submit" icon="pi pi-check"
                                label="{{'Proceed'|translate}}"></p-button>
                            <p-button type="reset"
                                styleClass="p-button-warning p-button-sm mx-1" icon="pi pi-refresh" (click)="reset()"
                                label="{{'RESET'|translate}}"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        
    </form>
</p-panel>

<p-table #dt [value]="rechargeList" dataKey="id" [rowHover]="true" [rows]="15" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[15,25,50,100]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['headName']" styleClass="p-datatable-sm p-datatable-gridlines pt-3"
    [tableStyle]="{'min-width': '50rem'}">

    <ng-template pTemplate="header">
        <tr>
            <th class="vcenter text-center">{{'SL#'|translate}}</th>
            <th class="vcenter text-center"> {{'TrxID' | translate}}</th>
            <th class="vcenter text-center"> {{'BankTrxID' | translate}}</th>
            <th pSortableColumn="date" style="text-align: center">
                <div class="vcenter text-center">
                    {{'TrxDateTime' | translate}}
                    <p-sortIcon field="date"></p-sortIcon>                    
                </div>
            </th>           
            <th class="vcenter text-center">{{'PaymentMethod'|translate}}</th>
            <th class="vcenter text-center"> {{'Amount' | translate}}</th>
            <th class="vcenter text-center">{{'Status'|translate}}</th>
            <th class="vcenter text-center">{{'REMARKS' | translate}}</th>
            <th class="vcenter text-center" *ngIf="isMso">{{'ACTION' | translate}}</th>
        </tr>
        <tr>
            <div class="frm progressbar" [hidden]="progressStatus" style="position: absolute; z-index: 10; ">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-r let-index="rowIndex">
        <tr class="p-selectable-row">
            <td class="vcenter text-center">{{index+1}}</td>
            <td class="vcenter text-center">{{r.logId}}</td>
            <td class="vcenter text-center">{{r.trxID}}</td>
            <td class="vcenter text-center">{{r.date | date :'dd-MMM-yyyy HH:mm'}}</td>
            <!-- <td class="vcenter text-center">{{r.payerName}}</td> -->
            <td class="vcenter text-center">{{r.paymentMethod}}</td>
            <td class="vcenter text-center">{{r.amount}}</td>
            <td class="vcenter text-center">{{r.status}}</td>
            <td class="vcenter text-center">{{r.remarks}}</td>
            <td class="vcenter text-center">
                <p-button type="button" *ngIf="isMso"
                    styleClass="p-button-success p-button-sm mr-2 px-2 py-1" icon="pi pi-pencil" (click)="edit(r)"
                    data-toggle="tooltip" title="{{'EDIT' | translate}}"></p-button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No data found.</td>
        </tr>
    </ng-template>

</p-table>

<p-dialog header="Header" [(visible)]="PaymentInfoVisible" [modal]="true"
    [style]="{ 'width': '20rem', 'border':'10px solid', 'text-align':'center', 'border-color':paymentStatusId=='1'?'green':paymentStatusId=='2'?'#b97e1c':paymentStatusId=='3'?'#c93737':''}">
    <ng-template pTemplate="header">
        <span [style.color]="paymentStatusId=='1'?'green':paymentStatusId=='2'?'#b97e1c':paymentStatusId=='3'?'#c93737':''"
            style="font-weight: bold;">Payment Status</span>
    </ng-template>
    <p class="m-0" style="font-size: 20px;">{{paymentMsg}}</p>
    <ng-template pTemplate="footer">        
            <button pButton type="button" (click)="PaymentInfoVisible=false" label="Ok" icon="pi pi-check" class="p-button-{{paymentStatusId=='1'?'success':paymentStatusId=='2'?'warning':paymentStatusId=='3'?'danger':''}}" badge="8"></button>
    </ng-template>
</p-dialog>


<!-- <p-dialog header="Header" [(visible)]="displayModalHistory" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [maximizable]="true" [resizable]="false">
    <ng-template pTemplate="header">
        <h5>{{'RECHARGE' | translate}} {{'HISTORY' | translate}}</h5>
    </ng-template>
    <div class="modal-body">
        <p-table #dt [value]="approveHistories" dataKey="id" [rowHover]="true" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[15,25,50,100]" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
            [globalFilterFields]="['headName']" styleClass="p-datatable-sm p-datatable-gridlines pt-3"
            [tableStyle]="{'min-width': '50rem'}">

            <ng-template pTemplate="header">
                <tr>
                    <th class="vcenter text-center">{{'SL#'|translate}}</th>
                    <th class="vcenter text-center">{{'DATE' | translate}}</th>
                    <th class="vcenter text-center"> {{'TRANBY' | translate}}</th>
                    <th class="vcenter text-center">{{'REMARKS' | translate}}</th>
                    <th class="vcenter text-center">{{'STATUS'|translate}}</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-r let-index="rowIndex">
                <tr class="p-selectable-row">
                    <td class="vcenter text-center">{{index+1}}</td>
                    <td class="vcenter text-center">{{r.date | date :'dd-MMM-yyyy HH:mm'}}</td>
                    <td class="vcenter text-center">{{r.doneByName}}</td>
                    <td> <textarea type="text" class="p-2 w-full h-3rem" [(ngModel)]="r.comments" readonly
                            [disabled]="true" [ngModelOptions]="{standalone: true}" pInputTextarea> </textarea></td>
                    <td style="text-align: center;">{{r.statusOfApproval}}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9">No data found.</td>
                </tr>
            </ng-template>

        </p-table>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayModalHistory=false" label="{{'CLOSE' | translate}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog> -->