<app-topnavbar></app-topnavbar>
<main style="min-height: 500px;">
  <div class="container">
     <div>
      <h3>PRIVACY POLICY</h3>
      <p style="font-size: 18px;text-align: justify;">
        We, as a services provider, understand the importance of safeguarding the personal information you provide us when you use services through our “website,” as well as the products and services offered by us (collectively referred to as “services”). We are devoted to preserving your personal information and respects your privacy. This is our privacy policy, and we will adhere to it in order to protect your privacy. You will be notified of the following: Information that identifies you. You may supply personal information about yourself when using our services, such as your name, phone number, email address, personal address, and so on. Personal identification information is collected in a variety of ways on our site, including through contact form submissions, blog subscriptions, and other services, features, or applications.
      </p>
     </div>
  </div>
</main>
<web-app-footer></web-app-footer>