<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div class="layout-sidebar ">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
        <div class="layout-main ">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <!-- <div class="xl:h-5.5rem lg:h-5.5rem md:h-5.5rem sm:h-5.5rem" style="position: fixed; width: 100%; bottom:0; padding-top: 0rem !important; background: #eff3f8;">
        <app-footer></app-footer>
    </div> -->
    <!--<app-config></app-config> -->
    <div class="layout-mask"></div>
</div>