<ul class="layout-menu ">
    <ng-container *ngFor="let item of model; let i = index;">
        <!-- <i [ngClass]="item.icon" class="layout-menuitem-icon"></i> -->
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>

       <!-- show -->
       <!-- switchAllow -->

    <ng-container *ngIf="switchAllow">
        <li class="mt-2 ml-4">
            <a [attr.href]="'#'" (click)="switchToMso()" [ngClass]="'p-ripple p-element'" tabindex="0" pRipple>
                <i [ngClass]="'pi pi-sign-in'" class="layout-menuitem-icon"></i>
                <span class="layout-menuitem-text"> Switch To</span>
            </a>
        </li>
    </ng-container>
    <ng-container>
        <li class="bg-blue-500 mt-2 ml-0" style="padding-top: 5px;
        padding-bottom: 5px;
        color: white !important;
        padding-left: 18px;
        border-radius: 10px;">
            <a [attr.href]="'#'" (click)="logout()" [ngClass]="'p-ripple p-element'" style="color: white;" tabindex="0" pRipple>
                <i [ngClass]="'pi pi-power-off'" class="layout-menuitem-icon"></i>
                <span class="layout-menuitem-text"> Logout</span>
            </a>
        </li>
    </ng-container>
</ul>