<div class="layout-topbar bg-blue-500">
    
    <p-header style="padding: 0;margin: 0;" [ngStyle]="{'width': isMobile?'100%': screenSize==1024?'25%':'20%'}">
        <a class="layout-topbar-logo topLogo" style="width: 10%; float: left !important; margin-top: 5px;"
            [ngStyle]="{'margin-left': screenSize>912?'-5%':'0%'}" routerLink="/home/dashboard/msodashboard">
            <img src="assets/img/smslogo.jpg" alt=" logo" style="opacity: .8">
            <span class="text-white">SMS</span>
        </a>
       
        <button *ngIf="!auth.isMso()" type="button" pButton id="balId"
            style="float: right; background: #0c7587; box-shadow: -5px 5px #52939f;">Balance :
            {{comBalance}}</button>

        <button *ngIf="false" type="button" pButton
            style="float: right; background: #0c7587; box-shadow: -5px 5px #52939f;">Subscriber :
            {{'0'}}</button>
    </p-header>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" style="margin-left: 5px;"
        (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu bg-blue-500"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <span><i class="pi pi-bell" style="font-size: 3rem ;margin-right: 15px;"></i></span>
        <span><i class="pi  pi-envelope" style="font-size: 3rem; margin-right: 15px;"></i></span>
        <p-selectButton [options]="languageList"  [(ngModel)]="langCode" (onChange)="changeLange($event)"
            optionLabel="label" optionValue="value"></p-selectButton>
        
        <a class="ml-3" style="cursor: pointer; color: black; display: flex;">
            <img style="border-radius: 50%; width: 30px; margin-top: -5px; float: left;"
                [src]="this.photoUrl || './assets/img/default-user.jpg'">
            <p-splitButton id="topProfile" label="{{userInfo.display}}" [model]="this.menuItems"
                styleClass="p-button-text p-button-secondary ng-tns-c60-38"></p-splitButton>
        </a>

    </div>
</div>

<p-dialog #reportModal header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [breakpoints]="{'900px': '30vw', '1100px': '50vw', '600px': '80vw'}" [style]="{width: '30vw'}" [draggable]="true"
    [resizable]="true" [maximizable]="true">
    <ng-template pTemplate="header">
        <h5>{{'PASSWORD' | translate}} {{'CHANGES' | translate}}</h5>
    </ng-template>
    <div class="modal-body">
        <form [formGroup]="frm">
            <div class="formgrid grid">
                <div class="field col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">

                    <label>{{'NEW PASSWORD'|translate}}</label><span class="text-danger"> *</span><br>
                    <input type="text" class="p-2  w-full" placeholder="{{'NEW PASSWORD'|translate}}"
                        formControlName="newPassword" pInputText />
                    <span *ngIf="frm.controls['newPassword'].invalid && frm.controls['newPassword'].touched "
                        class="text-danger">
                        {{'NEW PASSWORD'|translate}} {{'REQUIRED'|translate}}
                    </span>

                    <br /><br />
                    <label>{{'CONFIRM PASSWORD'|translate}}</label><span class="text-danger"> *</span><br>
                    <input type="text" class="p-2  w-full" placeholder="{{'CONFIRM PASSWORD'|translate}}"
                        formControlName="confirmPassword" pInputText />
                    <span *ngIf="frm.controls['confirmPassword'].invalid && frm.controls['confirmPassword'].touched "
                        class="text-danger">
                        {{'CONFIRM PASSWORD'|translate}} {{'REQUIRED'|translate}}
                    </span>
                    <br />
                    <span
                        *ngIf="frm.controls['newPassword'].value != frm.controls['confirmPassword'].value && frm.controls['newPassword'].value!='' && frm.controls['confirmPassword'].value!=''"
                        class="text-danger">
                        {{'PASSWORD'|translate}} {{'MISMATCHED'|translate}}
                    </span>
                </div>
            </div>

            <br />
            <div class="formgrid grid">
                <div class="field col-12 xl:col-8 lg:col-8 md:col-8 sm:col-8">
                    <div class="card-footer">
                        <div class="">
                            <p-button (click)="onSubmit()" [disabled]="frm.invalid"
                                styleClass="p-button-success p-button-sm" type="submit" icon="pi pi-check"
                                label="{{'SUBMIT'|translate}}"></p-button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayModal=false" label="{{'CLOSE' | translate}}"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

