<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
    <div class="wrapper">
    </div>
<div class="container-fluid all-show">

<a class="mr-3" routerLink=""><img class="img-fluid"  src="{{logopath}}" alt="TFSMS" style=" background: white;  width:60px; "></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="">Home</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#package">Packages</a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" href="#about">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#trams-condition">terms-Condition</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#contact">contact</a>
    </li>
    <li class="nav-item" *ngIf="this.ssl.isActive">
      <a class="nav-link" href="#sslpayments">Recharge</a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
    </li> -->
  </ul>
  <div class="d-flex flex-column sim">
    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#/login">Login</a>
        </li>
      </ul>
  </div>
</div>
</div>
</nav>
