<div class="grid">
    <div class="col-12 lg:col-4 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Subscriber Information</span>
                    <div class="text-900 font-medium text-xl">Name: {{subsInfo.fullname}}({{subsInfo.customerNumber}})</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-user text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">Contact: {{subsInfo.contactNumber}}</span>
            <span class="text-500">Address: {{subsInfo.address}}</span>
        </div>
    </div>
    <div class="col-12 lg:col-4 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Device Information</span>
                    <div class="text-900 font-medium text-xl">ID: {{subsInfo.deviceNumber}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-database text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">Status:
                {{subsInfo.deviceStatus?'Active':!subsInfo.deviceStatus?'Inactive':'New'}}</span>
            <span class="text-500">Amount: {{subsInfo.deviceAmount}}</span>
        </div>
    </div>
    <div class="col-12 lg:col-4 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Package Information</span>
                    <div class="text-900 font-medium text-xl">Package: {{subsInfo.packageName}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-server text-blue-500 text-xl"></i>
                </div>
            </div>
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="text-green-500 font-medium">Type: {{subsInfo.packageTypeString}}</span><br>
                    <span class="text-500">Price: {{subsInfo.packageAmount}}</span>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-500 border-round" (click)="showPackageRenewModal(subsInfo)"
                    [ngStyle]="{width: '6rem', height: '3rem', cursor:'pointer'}">
                    <i class="pi pi-refresh text-100 text-xl">&nbsp;Renew</i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <h4>{{'PACKAGEASSIGNHISTORY' | translate}}:{{viewInfo.firstName}} {{viewInfo.lastName}}({{viewInfo.customerNumber}})
    </h4>
    <p-table #dt [value]="packageAssignHistory" dataKey="id" [rowHover]="true" [rows]="20"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[20,25,50,100]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['subscriberId','customerNumber']" styleClass="p-datatable-sm p-datatable-gridlines"
        [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined p-button-sm" icon="pi pi-filter-slash"
                    (click)="clear(dt)"></button>
                <span class="p-input-icon-left ml-auto float-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="vcenter text-center">{{'SL#' | translate}}</th>
                <th pSortableColumn="customerNumber" style="text-align: center">
                    <div class="vcenter text-center">
                        {{'EMPLOYEENAME' | translate}}
                    </div>
                </th>
                <th class="vcenter text-center">{{'Device' | translate}}</th>
                <th pSortableColumn="customerNumber" style="text-align: center">
                    <div class="vcenter text-center">
                        {{'DONEDATE' | translate}}
                    </div>
                </th>
                <th class="vcenter text-center">{{'DESCRIPTION' | translate}}</th>
                <th class="vcenter text-center">{{'STATUSTYPE' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-r let-i="rowIndex">
            <tr class="p-selectable-row">
                <td>{{i+1}}</td>
                <td>{{r.employeeName}}</td>
                <td>{{deviceId}}</td>
                <td>{{r.doneDate| date:"dd-MM-YYYY | ss-mm-hh"}}</td>
                <td>{{r.description}}</td>
                <td>{{r.statusType}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9">No data found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog header="Header" [(visible)]="displayPackageRenew" [modal]="true" [style]="{width: '60vw'}" [draggable]="false"
    [resizable]="false">
    <ng-template pTemplate="header">
        <h5>{{'PackageRenew' | translate}}</h5>
    </ng-template>
    <form [formGroup]="frmPackageRenew">
        <div class="modal-body">
            <div class="formgrid grid">
                <input type="text" class="p-2  w-full" formControlName="deviceNumber" value="{{deviceNumber}}" hidden
                    pInputText />
                <input type="number" class="p-2  w-full" formControlName="id" pInputText hidden />
                <div class="field col-12 lg:col-3 xl:col-3 md:col-3 sm:col-3">
                    <label>{{'Packages'|translate}}</label><span class="text-danger">*</span>
                    <input type="number" class="p-2  w-full" formControlName="scpPackageId" pInputText hidden />
                    <input type="text" class="p-2  w-full" formControlName="packageName" pInputText readonly />
                </div>
                <div class="field col-12 lg:col-3 xl:col-3 md:col-3 sm:col-3">
                    <label>{{'PackgaeAmount' | translate}}</label><span class="text-danger">*</span>
                    <input type="number" class="p-2  w-full" formControlName="packageValue" pInputText
                        value="{{packageValue}}" readonly />
                </div>
                <div class="field col-12 lg:col-3 xl:col-3 md:col-3 sm:col-3">
                    <label>{{'Amount' | translate}}</label><span class="text-danger">*</span>
                    <input type="number" class="p-2  w-full" formControlName="amount" pInputText readonly />
                </div>
                <div class="field col-12 lg:col-3 xl:col-3 md:col-3 sm:col-3">
                    <label>{{'SubscribtionType'|translate}}</label><span class="text-danger">*</span>
                    <p-dropdown [options]="subscribtionTypes" [style]="{'width':'100%'}" formControlName="packageType"
                        (onChange)="packageTypeValue()" [filter]="false" filterBy="name" [showClear]="true"
                        placeholder="{{'SELECT'|translate}}" optionLabel="name" optionValue="id"></p-dropdown><br>
                </div>
                <div class="field col-12 lg:col-3 xl:col-3 md:col-3 sm:col-3">
                    <label>{{'Value' | translate}}</label><span class="text-danger">*</span>
                    <input type="number" (blur)="packageTypeValue()" class="p-2  w-full" formControlName="value"
                        pInputText />
                </div>
                <div class="field col-12 lg:col-3 xl:col-3 md:col-3 sm:col-3">
                    <label>{{'ExpDate' | translate}}</label>
                    <input type="text" class="p-2  w-full" formControlName="expDate" pInputText readonly />
                </div>
                <div class="field col-12 lg:col-3 xl:col-3 md:col-3 sm:col-3">
                    <label>{{'PaymentType'|translate}}</label><span class="text-danger">*</span>
                    <p-dropdown [options]="paymentMoodList" [style]="{'width':'100%'}"
                        formControlName="anFPaymentMethodId" [filter]="false" filterBy="name" [showClear]="true"
                        placeholder="{{'SELECT'|translate}}" optionLabel="name" optionValue="id"></p-dropdown><br>
                </div>
                <div class="field col-12 lg:col-3 xl:col-3 md:col-3 sm:col-3">
                    <div class="form-check mt-4">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                            [defaultChecked]="true" checked formControlName="isActive">
                        <label class="form-check-label" for="flexCheckDefault"> {{'ISACTIVE' | translate}}
                        </label>
                    </div>
                </div>
                <div class="field col-12 lg:col-12 xl:col-12 md:col-12 sm:col-12">
                    <div class="card-footer">
                        <div class="">
                            <p-button [disabled]="frmPackageRenew.invalid || isShowSslPay" (click)="savePackageRenew()"
                                styleClass="p-button-success p-button-sm" type="button" icon="pi pi-check"
                                label="{{'Proceed'|translate}}"></p-button>&nbsp;
                            <p-button type="reset" styleClass="p-button-warning p-button-sm" icon="pi pi-refresh"
                                (click)="reset()" label="{{'RESET'|translate}}"></p-button>
                        </div>
                    </div>
                </div>

                <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12"
                    style="border: 1px solid #eee; padding: 0;" *ngIf="isShowSslPay">
                    <div class="card p-0">
                        <p-tabView id="tabView">
                            <p-tabPanel class="line-height-3 m-0" header="{{value.name}}"
                                *ngFor="let value of getArray">
                                <!-- <ng-template pTemplate="header">
                                        <span style="color:rgb(21, 46, 58);">{{value.name}}</span>
                                    </ng-template> -->
                                <div class="row featurette">
                                    <div class="custom-box-shadow ml-1 mr-1 mt-2"
                                        *ngFor="let getWay of value.chield, let i=index">
                                        <div style="display: flex;flex-direction: column;justify-content: center;">
                                            <a href="{{getWay.redirectGatewayURL}}">
                                                <img class="img-fluid mx-auto m-1" src="{{getWay.logo}}"
                                                    alt="Card image cap">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-dialog>


<p-dialog header="Header" [(visible)]="PaymentInfoVisible" [modal]="true"
    [style]="{ 'width': '20rem', 'border':'10px solid', 'text-align':'center', 'border-color':paymentStatusId=='1'?'green':paymentStatusId=='2'?'#b97e1c':paymentStatusId=='3'?'#c93737':''}">
    <ng-template pTemplate="header">
        <span [style.color]="paymentStatusId=='1'?'green':paymentStatusId=='2'?'#b97e1c':paymentStatusId=='3'?'#c93737':''"
            style="font-weight: bold;">Payment Status</span>
    </ng-template>
    <p class="m-0" style="font-size: 20px;">{{paymentMsg}}</p>
    <ng-template pTemplate="footer">        
            <button pButton type="button" (click)="PaymentInfoVisible=false" label="Ok" icon="pi pi-check" class="p-button-{{paymentStatusId=='1'?'success':paymentStatusId=='2'?'warning':paymentStatusId=='3'?'danger':''}}" badge="8"></button>
    </ng-template>
</p-dialog>