<!-- <div class="loader" *ngIf="show" style="display: flex; align-items:center; position: absolute; z-index: 10;"> -->
  <div class="loader" *ngIf="show" style=" position: absolute; z-index: 10;">
  <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    <!-- <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div> -->
  </div>