<p-confirmDialog  [baseZIndex]="10000"></p-confirmDialog>
<p-panel>
  <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">{{'APPMENU' | translate}} </span></ng-template>
   <form [formGroup]="frm">
  <input type="hidden" formControlName="id" value="0">
  <div class="card">
    <div class="formgrid grid">
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <label>{{'ENTITLE' | translate}}</label><span class="text-danger"> *</span>
        <input type="text" class="p-2 w-full" pInputText placeholder="{{'TITLE' | translate}}"
          formControlName="title" />
        <span *ngIf="frm.controls['title'].invalid && frm.controls['title'].touched " class="text-danger">
          {{'TITLE' | translate}} {{'REQUIRED' | translate}}
        </span>
      </div>
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <label>{{'BNTITLE' | translate}}</label><span class="text-danger"> *</span>
        <input type="text" class="p-2 w-full" pInputText placeholder="{{'BNTITLE' | translate}}"
          formControlName="titleBn" />
        <span *ngIf="frm.controls['titleBn'].invalid && frm.controls['titleBn'].touched " class="text-danger">
          {{'BNTITLE' | translate}} {{'REQUIRED' | translate}}
        </span>
      </div>
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <label>{{'MODULENAME' | translate}}</label><span class="text-danger"> *</span>
        <p-dropdown [options]="moduleList" [style]="{'width':'100%'}" formControlName="secModuleId" [filter]="true"
          filterBy="name" [showClear]="true" placeholder="{{'SELECT'|translate}}" optionLabel="name" optionValue="id">
        </p-dropdown><br>
        <span *ngIf="frm.controls['secModuleId'].invalid && frm.controls['secModuleId'].touched " class="text-danger">
          {{'Module' | translate}} {{'REQUIRED' | translate}}
        </span>
      </div>
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3 ">
        <div class="form-check ">
          <input class="form-check-input" type="checkbox"  checked id="flexCheckDefault" formControlName="isModule">
          <label class="form-check-label" for="flexCheckDefault">{{'IsModule' | translate}}</label><span class="text-danger"> *</span>
        </div>
      </div> 
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <input class="form-check-input mr-2" type="checkbox"  checked id="flexCheckDefault" formControlName="isParent">
        <label>{{'PARENT?' | translate}}</label><span class="text-danger"> *</span>
        <!-- <p-dropdown [options]="parentlist" [style]="{'width':'100%'}" formControlName="isParent" [filter]="true"
        filterBy="text" [showClear]="true"
          placeholder="{{'SELECT'|translate}}" optionLabel="text" optionValue="value"></p-dropdown><br> -->
      </div>
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <label>{{'PARENTS' | translate}}</label><span class="text-danger"> *</span>
        <p-dropdown [options]="menulist" [style]="{'width':'100%'}" formControlName="parentMenuId" [filter]="true"
          filterBy="title" [showClear]="true" placeholder="{{'SELECT'|translate}}" optionLabel="title"
          optionValue="id"></p-dropdown><br>
      </div>
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <label>{{'ParentSerialNo' | translate}}</label>
        <input type="text" class="p-2 w-full" pInputText placeholder="{{'ParentSerialNo' | translate}}" formControlName="parentSerialNo" />
      </div>
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <label>{{'ChildSerialNo' | translate}}</label>
        <input type="text" class="p-2 w-full" pInputText placeholder="{{'ChildSerialNo' | translate}}" formControlName="childSerialNo" />
      </div>
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <label>{{'LevelNo' | translate}}</label>
        <input type="text" class="p-2 w-full" pInputText placeholder="{{'LevelNo' | translate}}" formControlName="levelNo" />
      </div>
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <label>{{'LINK' | translate}}</label><span class="text-danger"> *</span>
        <input type="text" class="p-2 w-full" pInputText placeholder="{{'LINK' | translate}}" formControlName="link" />
        <span *ngIf="frm.controls['link'].invalid && frm.controls['link'].touched " class="text-danger">
          {{'LINK' | translate}} {{'REQUIRED' | translate}}
        </span>
      </div>
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3">
        <label>{{'ICON' | translate}}</label>
        <input type="text" class="p-2 w-full" pInputText placeholder="{{'ICON' | translate}}" formControlName="icon" />
      </div>
      <div class="field col-12 sm:col-6 md:col-3 lg:col-3 xl:col-3 ">
        <div class="form-check ">
          <input class="form-check-input" type="checkbox" value="true" checked id="flexCheckDefault" formControlName="isActive">
          <label class="form-check-label" for="flexCheckDefault">{{'ISACTIVE' | translate}}</label>
        </div>
      </div>

    </div>
    <div class="form-grid grid pt-2">
      <div class="field col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12">
          <div class="">
            <p-button (click)="save()" [disabled]="frm.invalid" 
              styleClass="p-button-success p-button-sm " class="mr-2" type="submit" icon="pi pi-check" label="{{'SAVE'|translate}}">
            </p-button>
            <!-- <p-button (click)="save()" [disabled]="frm.invalid" *ngIf="formId==1"
              styleClass="p-button-success p-button-sm" type="submit" icon="pi pi-check" label="{{'UPDATE'|translate}}">
            </p-button>&nbsp; -->
            <p-button type="reset" *ngIf="formId==0||formId==1" styleClass="p-button-warning p-button-sm"
              icon="pi pi-refresh" (click)="reset()" label="{{'RESET'|translate}}"></p-button>
          </div>
      </div>
    </div>
  </div>
   </form>
</p-panel>

<p-table #dt [value]="menulist" dataKey="id" [rowHover]="true" [rows]="30" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[30,25,50,100]" [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
  [globalFilterFields]="['title','parentMenuId']" styleClass="p-datatable-sm p-datatable-gridlines pt-3" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="caption">
    <div class="flex">
      <button pButton label="Clear" class="p-button-outlined p-button-sm" icon="pi pi-filter-slash"
        (click)="clear(dt)"></button>
      <span class="p-input-icon-left ml-auto float-right">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search keyword" />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th class="vcenter text-center">{{'ID' | translate}}</th>
      <th class="vcenter text-center">{{'ENTITLE' | translate}}</th>
      <th class="vcenter text-center"> {{'BNTITLE' | translate}}</th>
      <th class="vcenter text-center"> {{'LINK' | translate}}</th>
      <th class="vcenter text-center"> {{'ICON' | translate}}</th>
      <th class="vcenter text-center"> {{'ParentMenu' | translate}}</th>
      <th class="vcenter text-center"> {{'ParentSerialNo' | translate}}</th>
      <th class="vcenter text-center"> {{'ChildSerialNo' | translate}}</th>
      <th class="vcenter text-center"> {{'LevelNo' | translate}}</th>
      <th class="vcenter text-center">{{'ISACTIVE' | translate}}</th>
      <!-- <th class="vcenter text-center">{{'PARENTS' | translate}}</th>-->
      <th class="vcenter text-center">{{'ACTION' | translate}}</th>
    </tr>
    <tr>
      <div [hidden]="progressStatus" style="position: absolute; z-index: 10; ">
       <p-progressSpinner></p-progressSpinner>
      </div>
   </tr>
  </ng-template>

  <ng-template pTemplate="body" let-r>
    <tr class="p-selectable-row">
      <td>{{r.id}}</td>
      <td>{{r.title}}</td>
      <td>{{r.titleBn}}</td>
      <td>{{r.link}}</td>
      <td>{{r.icon}}</td>
      <td>{{r.parentMenuId}}</td>
      <td>{{r.levelNo}}</td>
      <td>{{r.childSerialNo}}</td>
      <td>{{r.levelNo}}</td>
      <td>{{r.isActive}}</td>
      <!-- <td>{{r.parentsId}}</td> -->
      <td class="vcenter text-center">
        <p-button type="button" styleClass="p-button-success p-button-sm mr-2 px-2 py-1" icon="pi pi-pencil" (click)="edit(r)">
        </p-button>
        <!-- <p-button type="button" styleClass="p-button-primary p-button-sm px-2 py-1" icon="pi pi-eye"
          (click)="showModalDialog(r.id)" data-toggle="tooltip" title="{{'VIEW' | translate}}"></p-button> -->
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="11">No data found.</td>
    </tr>
  </ng-template>

</p-table>
